header {
    font-family: "LINESeedKR-Bd", Serif;
}

nav ul {
    font-family: "LINESeedKR-Rg", Serif;
}

h1 {
    font-family: "LINESeedKR-Bd", Serif;
}

li {
    font-family: "LINESeedKR-Rg", Serif;
}

bar {
    font-family: "LINESeedKR-Rg", Serif;
}

.motivation {
    font-family: "LINESeedKR-Rg", Serif;
}

.history {
    font-family: "LINESeedKR-Rg", Serif;
}

.title {
    font-family: "LINESeedKR-Bd", Serif;
}

.period {
    font-family: "LINESeedKR-Rg", Serif;
}

.project-description {
    font-family: "LINESeedKR-Rg", Serif;
}

@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
