body {
    font-family: "LINESeedKR-Rg", Serif;
}

/*header*/
header li {
    font-family: "LINESeedKR-Bd", Serif;
}

h1, h2, h3, h4 {
    font-family: "LINESeedKR-Bd", Serif;
}

/*section*/
/*masthead*/
#mastHeadTitle {
    font-family: "LINESeedKR-Bd", Serif;
}

/*experience*/
.experience-title, .project-title {
    font-family: "LINESeedKR-Bd", Serif;
}

.middle-size {
    font-family: "LINESeedKR-Bd", Serif;
}

.plan-period {
    font-family: "LINESeedKR-Bd", Serif;
}

.plan-title {
    font-family: "LINESeedKR-Bd", Serif;
}

.spring-feature-name {
    font-family: "LINESeedKR-Bd", Serif;
}

strong {
    font-family: "LINESeedKR-Bd", Serif;
}

em {
    font-family: "LINESeedKR-Bd", Serif;
}

.mvc-name {
    font-family: "LINESeedKR-Bd", Serif;
}

@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
