body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 19vw;
    padding-right: 19vw;
    background-color: #FBEDED;
    opacity: 0.9;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 80.8%, .5);
}

header a {
    text-decoration-line: none;
    color: inherit;
}

.h-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

audio {
    margin-top: 5px;
    width: 15vw;
    height: 2vw;
}

ul {
    display: flex;
}

ul a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    display: list-item;
}

.entry-content {
    display: flex;
}

h1 {
    font-size: 2.2em;
}

.content-wrap {
    display: flex;
    margin-top: 10vw;
    justify-content: center;
    padding-left: 19vw;
    padding-right: 19vw;
    height: 200vw;
}

.one {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.entry-content li {
    line-height: 1.5vw;
}

.skill {
    display: flex;
    justify-content: space-around;
    margin-top: 4vw;
    color: #b67676;
    text-align: center;
}

.experience {
    display: flex;
    flex-direction: column;
    color: #b67676;
    margin-top: 4vw;
    text-align: center;
}

.experience ul {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.2em;
}

.head {
    font-weight: bold;
}

.sidebar-1 ul {
    display: flex;
    flex-direction: column;
}

.sidebar-1 li {
    line-height: 1.5vw;
}

.f-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}