body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 19vw;
    padding-right: 19vw;
    background-color: #FBEDED;
    opacity: 0.9;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 80.8%, .5);
}

header a {
    text-decoration-line: none;
    color: inherit;
}

.h-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

audio {
    margin-top: 5px;
    width: 15vw;
    height: 2vw;
}

ul {
    display: flex;
}

ul a {
    padding: 20px;
    text-decoration: none;
}

li {
    list-style-type: none;
    display: list-item;
}

.entry-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.2em;
}

h3 {
    text-align: center;
}

.content-wrap {
    display: flex;
    margin-top: 10vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.one {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.entry-content li {
    line-height: 1.5vw;
}

.sub-theme {
    color: #b67676;
}

.skill {
    display: flex;
    justify-content: space-around;
    margin-top: 4vw;
    text-align: center;
}

.experience {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.experience ul {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.sidebar-1 ul {
    display: flex;
    flex-direction: column;
}

.sidebar-1 li {
    line-height: 1.5vw;
}

.title {
    text-align: center;
}

.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box1 {
    background-color: rgba(166, 150, 141, 0.1);
}

.box2 {
    background-color: rgba(182, 118, 118, 0.1);
}

.box3 {
    background-color: rgba(86, 138, 97, 0.1);
}

.project-content {
    display: flex;
}

.project-image {
    display: flex;
    flex: 1;
    margin: 1.5vw;
    justify-content: center;
}

.project-description {
    margin-right: 1.5vw;
    justify-content: center;
    flex: 1;
}

.btn {
    display: flex;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: lightgray;
}

.btn:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}

.btn:active {
    transform: scale(1.1);
}

.text-color-red {
    color: red;
}

.project-description-skill-type {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px 0;
}

.project-description-label {
    width: 150px;
    display: flex;
}

.project-description-value {
    display: flex;
    justify-content: center;
}

.period {
    color: grey;
}

.social-issue {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

figcaption {
    color: gray;
    font-size: small;
}

.social-issue-red {
    color: crimson;
}

.text-color-blue {
    color: #006dd7;
}

.interested-technology {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.feature-name {
    font-size: 130%;
}

.feature-description {
    display: flex;
    align-items: center;
}

.spring-features {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 2vw;
    overflow: hidden;
    width: 20%;
}

.mvcs {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mvc {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.mvc-description ul {
    display: flex;
    flex-direction: column;
}

.code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-color-naver {
    color: #03C75A;
}

.text-color-kakao {
    color: #FAE100;
}

.text-color-baemin {
    color: #29C0BA;
}

.text-color-gray {
    color: #666666;
}

.kakao-service {
    display: flex;
    flex-direction: row;
}

.service {
    margin: 10px;
    padding: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.service img {
    margin: 10px;
}

.service-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-color-spring {
    color: #6DB33F;
}

.future-plan ul {
    display: flex;
    flex-direction: column;
}

.wrap-cont-period {
    width: 6.1vw;
}

.wrap-item-tit {
    width: 9vw;
}

.wrap-cont {
    display: flex;
    flex-direction: row;
}

.wrap-item {
    display: flex;
    flex-direction: row;
}

.wrap-item p {
    margin: 0;
    padding: 0;
}

.inner-cont {
    margin-left: 100px;
}

.area-cont {
    margin-left: 30px;
}

.on {
    padding-bottom: 20px;
}

.on2 {
    list-style-type: disc;
}

.on3 {
    list-style-type: decimal;
}

strong {
    font-size: x-large;
}

em {
    font-style: normal;
}

.two {
    padding-bottom: 120px;
}

.plan-ul {
    padding-top: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal h3 {
    display: flex;
    align-items: normal;
}

.modal ul{
    display: flex;
    flex-direction: column;
}

.modal li {
    list-style-type: disc;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.f-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}