li {
    list-style-type: none;
}

em {
    font-style: normal;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    text-align: center;
}

.middle-size {
    font-size: 1.3em;
    text-align: center;
}

.text-color-red {
    color: red;
}

.text-color-blue {
    color: #006dd7;
}

.text-color-gray {
    color: #666666;
}

.text-color-naver {
    color: #03C75A;
}

.text-color-kakao {
    color: #FAE100;
}

.text-color-baemin {
    color: #29C0BA;
}

.text-color-spring {
    color: #6DB33F;
}

figcaption {
    color: gray;
    font-size: small;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding-left: 19vw;
    padding-right: 19vw;
    background-color: #FBEDED;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 80.8%, .5);
    opacity: 0.9;
}

#header-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
}

header a {
    text-decoration-line: none;
    color: inherit;
    padding: 20px;
    transition: 0.2s;

}

header a:hover {
    color: #b67676;
}

/*section*/
article {
    padding-bottom: 30px;
}

.content-wrap {
    margin-top: 8vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.sub-theme {
    color: #b67676;
}

/*masthead*/
#profile {
    height: 300px;
    width: 290px;
}
#masthead {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mastHeadTitle {
    margin: 2vw;
    font-size: 2.2em;
}

/*skills and tools*/
#skillsAndTools {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/*experience*/
#experience {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#experience li {
    padding-bottom: 15px;
}

#experience div {
    padding-bottom: 10px;
}

/*personal history*/
#youtube {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.youtube-player {
    width: 515px;
    height: 290px;
}

/*project*/
.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 25px;
}

.box1 {
    background-color: rgba(166, 150, 141, 0.1);
}

.box2 {
    background-color: rgba(182, 118, 118, 0.1);
}

.box3 {
    background-color: rgba(86, 138, 97, 0.1);
}

.project-title {
    text-align: center;
    font-size: 1.5em;
}

.project-period {
    text-align: center;
    margin-top: 10px;
}

.project-content {
    display: flex;
    justify-content: space-around;
}

.project-image-inner {
    display: flex;
    flex: 1;
    margin: 1.5vw;
    justify-content: center;
}

.goseumi-img {
    width: 210px;
    height: 420px;
}

.portfolio-img {
    height: 218px;
    width: 480px;
}

#portfolio-result-img-01 {
    height: 200px;
    width: 233px;
}

#portfolio-result-img-02 {
    height: 287px;
    width: 600px;
}

.cookeryket-img {
    height: 278.46px;
    width: 420px;
}

#cookeryket-result-img {
    height: 447px;
    width: 605px;
}

.project-description {
    justify-content: center;
    flex: 1;
}

.readme-btn {
    display: flex;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: lightgray;
}

.readme-btn:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}

.readme-btn:active {
    transform: scale(1.1);
}

.project-description-skill-type {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 10px 0;
}

.project-description-label {
    min-width: 150px;
    display: flex;
}

.project-description-value {
    display: flex;
    justify-content: center;
}

.project-image-slider-goseumi {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 210px;
}

.project-image-slider-portfolio {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 480px;
}

.project-image-slider-cookeryket {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 420px;
}

.project-image-slider-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-image-container-box-goseumi {
    width: 210px;
}

.project-image-container-box-portfolio {
    width: 480px;
}

.project-image-container-box-cookeryket {
    width: 420px;
}

.project-image-container-goseumi {
    transition: transform 1s;
    display: flex;
}

.project-image-container-portfolio {
    transition: transform 1s;
    display: flex;
}

.project-image-container-cookeryket {
    transition: transform 1s;
    display: flex;
}

.project-image-inner {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.slider-page {
    display: flex;
    justify-content: center;
}

.slider-btn {
    height: 20px;
    width: 20px;
}

.prev, .next {
    background-color: transparent;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal h3 {
    display: flex;
    align-items: normal;
}

.modal ul {
    display: flex;
    flex-direction: column;
}

.modal li {
    list-style-type: disc;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*social issue*/
#social-issue {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#social-issue-img-01 {
    height: 421px;
    width: 700px;
}

#social-issue-img-02 {
    height: 426px;
    width: 700px;
}

.social-issue-red {
    color: crimson;
}

/*contact*/
.contact-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-inner-left {
    margin-right: 30px;
    margin-top: 30px;
}

.contact-inner-right {
    margin-left: 30px;
}

#github-logo-img {
    height: 15px;
    width: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

/*interested technology*/
#interested-technology {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#spring-img {
    height: 279px;
    width: 400px;
}

.tech-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.spring-feature-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130%;
    height: 100px;
}

.spring-feature-description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.spring-features {
    display: flex;
    flex-direction: column;
}

.feature-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.feature-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 2vw;
    width: 20%;
}

.mvc-wrap {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mvc-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.mvc-name {
    display: flex;
    justify-content: center;
    min-width: 120px;
    font-size: 1.2em;
}

.mvc-description {
    margin-left: 10px;
}

.mvc-description ul {
    display: flex;
    flex-direction: column;
}

.mvc-description li{
    list-style-type: disc;
}

#spring-boot-img {
    height: 210px;
    width: 400px;
}

#spring-code-img {
    height: 700px;
    width: 553px;
}

#allow {
    height: 100px;
    width: 100px;
}

#spring-boot-code-img {
    height: 125px;
    width: 553px;
}

/*company*/
#company {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#kakao-logo {
    height: 126.42px;
    width: 400px;
}

.kakao-service {
    display: flex;
    flex-direction: row;
}

.service {
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.service img {
    margin: 10px;
}

.service-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#kakao-careers {
    width: 93.75px;
    height: 45px;
}

#kakao-pay {
    width: 126.75px;
    height: 45px;
}

#kakao-bank {
    width: 141px;
    height: 45px;
}

#kakao-mobility {
    width: 187.5px;
    height: 45px;
}

#kakao-style {
    width: 141.75px;
    height: 45px;
}

#kakao-ent {
    width: 117px;
    height: 45px;
}

#kakao-gamescorp {
    width: 165px;
    height: 45px;
}

#kakao-piccoma {
    width: 192.75px;
    height: 45px;
}

#kakao-brain {
    width: 141px;
    height: 45px;
}

#kakao-enterprise {
    width: 213.75px;
    height: 45px
}

#kakao-vc {
    width: 200.25px;
    height: 45px;
}

#kakao-healthcare {
    width: 216.75px;
    height: 45px;
}

#kakao-inverstment {
    width: 236.25px;
    height: 45px;
}

#kakao-tech-blog {
    height: 451px;
    width: 810px;
}

#kakao-backend-01 {
    height: 160px;
    width: 684px;
}

#kakao-backend-02 {
    height: 175px;
    width: 684px;
}
/*future plan*/
.future-plan-list-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

#plan-wrap {
    margin-top: 60px;
}

.milestones {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 10px;
}

.v-line {
    border-left: medium solid #ececec;
    height: 270px;
}

#future-plan .middle-size {
    text-align: left;
}

.future-plan-wrap {
    display: flex;
    flex-direction: row;
}

.future-plan-wrap-content {
    display: flex;
    flex-direction: row;
}

.plan-period {
    width: 6.5vw;
    font-size: 1.6em;
}

.plan-title {
    width: 9vw;
    font-size: 1.1em;
}

#future-plan ul {
    display: flex;
    flex-direction: column;
}

.wrap-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.plan-inner-content {
    margin-left: 100px;
}

.on {
    padding-bottom: 10px;
}

.on2 {
    list-style-type: disc;
}

/*footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    height: 50px;
}